<h1>Users</h1>
<p class="counter"><%= @users.size %> USERS</p>
<div class="container">
<table class="table">
  <tr>
  <th>ID</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Nick</th>
  <th>User Role</th>
  <th>Action</th>
  </tr>
  <% @users.each do |u| %>
  <tr>  
    <td><%= u.id %>
    <td><%= u.first_name %></td>
    <td><%= u.last_name %></td>
    <td><%= u.email %></td>
    <td><%= u.nick  %></td>
    <td><%= u.user_role %></td>
    <td><%= link_to("Edit", edit_user_path(u),
    :class => 'btn btn-xs btn-primary') %>
    <%= link_to("Delete", user_path(u), method: :delete,
    :data => {:confirm => 'Are you sure?'},
    :class => 'btn btn-xs btn-danger') %>
    </td>
  </tr>
  <%end%>
</table>
</div>