<div class="main_page">
	<div class="jumbotron">
		<h1 class="display-4">Welcome to BOOKSTORE!</h1>
		<div class="action">
			<% if user_signed_in? %>
		  		Logged in as <strong><%= current_user.email %></strong>.
		  		<% if current_user.user_role == "admin" %>
		  		<%= link_to("Admin Panel", admin_panel_index_path, :class => 'btn btn-warning')%>
       		<% else %>
		  		<%= link_to("Your Acount", user_panel_index_path, :class => 'btn btn-warning')%>
		  		<% end %> |
		  		<%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-primary' %> |
		  		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger'  %>
			<% else %>
		  		<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary'  %> |
		  		<%= link_to "Log in", new_user_session_path, :class => 'btn btn-success'  %>
			<% end %>
		</div>
	</div>
	
</div>