<div class="main_page">
  <div class="jumbotron">
    <h1 class="display-6">Welcome to BOOKSTORE!</h1>
    <div class="action">
      <% if !user_signed_in? %>
        <%= link_to "Sign up", new_user_registration_path,
        :class => 'btn btn-primary'  %> |
        <%= link_to "Log in", new_user_session_path,
        :class => 'btn btn-success'  %>
      <% end %>
    </div>
  </div>
  <div class="jumbotron">
    <%= form_tag welcome_index_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search",:name => nil %>
    <% end %>
    <table class="table">
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Category</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Pages</th>
        <th>Text</th>
      </tr>
      <% @books.each do |u| %> 
      <tr>
        <td><% if !u.picture? %>
            <%= image_tag 'book.png',
            :class => "featurette-image img-responsive"%>
            <% else %>
          <%= image_tag(u.picture.url,
          :class => "featurette-image img-responsive")%>
          <% end %><p><%= link_to("download", u.bookfile.url,
          :class => 'btn btn-xs btn-warning')  if u.bookfile? %></p></td>
        <td><%= u.id %></td>
        <td><%= u.category.name %></td>
        <td><%= u.title %></td>
        <td><%= u.user.nick %></td>
        <td><%= u.description %></td>
        <td><%= u.pages %></td>
        <td><%= u.text %></td>
        <td><%= link_to("Show", welcome_path(u),
        :class => 'btn btn-warning')%></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>