<div class="hero-unit">
<h1><%=@book.title%></h1>
<table class="table">
  <tr><td>Image</td><td><%=image_tag(@book.picture,
  :class => "featurette-image img-responsive")%></td></tr>
  <tr><td>ID</td><td><%=@book.id%></td></tr>
  <tr><td>Category</td><td><%=@book.category.name%></td></tr>
  <tr><td>Title</td><td><%=@book.title%></td></tr>
  <tr><td>Author</td><td><%=@book.user.nick%></td></tr>
  <tr><td>Description</td><td><%=@book.description%></td></tr>
  <tr><td>Pages</td><td><%=@book.pages%></td></tr>
  <tr><td>Text</td><td><%=@book.text%></td></tr>
  <tr><td>File</td><td><%= link_to(@book.bookfile_identifier,
  @book.bookfile.url) %></td></tr>
</table>
<div class="buttons_down">
  <%= link_to("Back", root_path, :class => 'btn btn-warning')%>
</div>

</div>
