<table class="table table-striped">
	<tr>
		<th><%= f.label(:title) %></th>
		<td><%= f.text_field(:title, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= f.label(:description) %></th>
		<td><%= f.text_field(:description, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= f.label(:text) %></th>
		<td><%= f.text_field(:text, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= f.label(:pages,) %></th>
		<td><%= f.text_field(:pages) %></td>
	</tr>
	<tr>
		<th><%= f.label(:category_id, "Category") %></th>
		<td><%= f.select(:category_id, @category.map{|t| [t.name.to_s.force_encoding("UTF-8"), t.id ]} , :class => 'form-control') %></td>
	</tr>
	<% if !@book.picture.blank? %>
	<tr>
		<th>Image</th>
		<td><%= image_tag(@book.picture) %></td>
	</tr>
	<% end %>
	<tr>
		<th><%= f.label(:picture, "Image") %></th>
		<td><%= f.file_field(:picture) %></td>
	</tr>
</table>