<div class="hero-unit">
<h1>Edit book:</h1><h2 style="text-align:center;"><%= @book.title %></h2>

<%= form_for(:book, :url => {:action => 'update', :id => @book.id}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

<div style="text-align: center;">
	<%= link_to("Back", {:action => 'index'}, :class => 'btn btn-warning')%>
	<%= submit_tag("Update", :class => 'btn  btn-primary') %>
</div>

<% end %>
</div>
