<div class="container">
  <h1 class="h-position-center">List of yours books:</h1>

  <% if current_user.user_role == "admin" %>
    <p class="counter"><%= @books.size %> BOOKS</p>
  <%else%>
    <p class="counter"><%= @user_books.size %> BOOKS</p>
  <%end%>
  <p><%= link_to("New", new_book_path, :class => 'btn btn-xs btn-success') %>
  </p>
  <%= form_tag books_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search",:name => nil %>
  <% end %>

  <table class="table">
    <tr>
      <th class="th_center">Image</th>
      <th class="th_center">ID</th>
      <th class="th_center">Category</th>
      <th class="th_center">Title</th>
      <th class="th_center">Author</th>
      <th class="th_center">Description</th>
      <th class="th_center">Pages</th>
      <th class="th_center">Text</th>
    </tr>
    <% if current_user.user_role == "admin" %>
      <% @books.each do |u| %>
      <%= render "form1",u: u %>
      <%end%>
    <%else%>
      <% @user_books.each do |u| %>
      <%= render "form1",u: u %>
      <%end%>
    <%end%>
  </table>
</div>

