
<h1>Categories</h1>
<p style="text-align: right;"><%= @category.size %> CATEGORIES</p>
<p><%= link_to("New",  {:action => 'new'}, :class => 'btn btn-xs btn-success') %>
</p>
<table class="table">
	<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Action</th>
	</tr>
	<% @category.each do |u| %>
	<tr>	
		<td><%= u.id %></td>
		<td><%= u.name %></td>
		<td><%= link_to("Edit",  {:action => 'edit', :id => u.id}, :class => 'btn btn-xs btn-primary') %>
		<%= link_to("Delete",  {:action => 'delete', :id => u.id}, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-xs btn-danger') %>
		</td>
	</tr>
	<%end%>
</table>
