<!DOCTYPE html>
<html>
<head>
    <title>BOOKSTORE</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<% if notice %>
  <p class="alert alert-success" style="margin-top: 1em;"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" style="margin-top: 1em;"><%= alert %></p>
<% end %>

<div class="container">
<% if user_signed_in? %>
<p>Hello <%= current_user.first_name %>!</p>
<p>Account type: <%= current_user.user_role.upcase %></p>
<% end %>
</div>
<%= yield %>
</div>
</body>
</html>